*.pyc
__pycache__/
.DS_Store

# Runtime state written by the clients: your pin positions and tank settings.
# Yours, not part of the code.
settings.json
util/settings.json
util/error_log.txt

# Temp file created by setup_cron.sh
mycron
